body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: blue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.9));
  z-index: -1;
}
